
body {
    background: #f8f4e9;
}

.wrapper {
    @include cf;
	width: 94%;
	max-width: 1140px;
	margin: 0 auto;
	padding: $base*4 0 $base*2;

    @include bp-max-width($small) {
        width: 92%;
        padding: 32px 0;
    }
}