
.form-item {
    margin-bottom: 22px;
}

label {
    margin-bottom: 0.25em;
    display: block;
    color: #fff;
    font: 500 14px/1em "brandon-grotesque", Helvetica, arial, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 0.5em;
    background: #fff;
    border: none;
	font: 400 1em/1.5em "rooney-web", Georgia, serif;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    outline: none;
}

.webform-component input[type="text"],
.webform-component input[type="email"] {
    max-width: 22.375em;
}

textarea {
    height: 300px;
    padding-bottom: 60px;
    resize: none;
}


/** CUSTOM SELECT =======**/

.select-wrap {
    position: relative;
    width: 100%;
    padding: 0.5em;
    background: #fff;
    cursor: pointer;
}

.select-wrap:after {
    content: "";
    position: absolute;
    top: 15px;
    right: 12px;
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-top: 10px solid #12e2c0;
}

.select-wrap .out {
    z-index: -1;
    height: 23px;
    overflow: hidden;
    padding: 1px 0px 0px 5px;
    cursor: pointer;
}

.select-wrap select {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 8px;
    opacity: 0;
    cursor: pointer;
}


/** Buttons ============**/

button {
    width: 98%;
    padding: 0.7em 2em;
    border: none;
    color: #12e2c0;
    background: #3a4946;
    font: 700 20px/1em "brandon-grotesque", Helvetica, arial, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
}