
[class*="icon-"] {
    display: inline-block;
    background: $sprite;
    vertical-align: middle;
}

.icon-functional,
.icon-handsome,
.icon-adaptable {
    width: 110px;
    height: 110px;
}

.icon-handsome {
    background-position: 0 -124px;
}

.icon-adaptable {
    background-position: 0 -246px;
}

.icon-logo-mark {
    width: 60px;
    height: 70px;
    background-position: 0 -366px;
}

.icon-chicago {
    width: 55px;
    height: 48px;
    background-position: 0 -444px;
}

.icon-arrow {
    width: 25px;
    height: 25px;
    background-position: 0 -497px;
}

.icon-mail {
    width: 35px;
    height: 28px;
    background-position: -36px -497px;
}