
$sprite: image-url("sprite.svg") no-repeat 0 0;

$hero-mark: image-url("hero-mark.svg") no-repeat center center $lt-green;

$bg-help: image-url("bg-help.jpg") no-repeat center top $black;

$bg-contact: image-url("bg-contact.jpg") no-repeat center top $lt-green;
