
.help {
    background: $bg-help;
    .wrapper {
        padding-bottom: $base*5;
    }
}

.help .help-title {
    margin-bottom: 40px;
    color: #12e2c0;
}

.help li {
    max-width: 700px;
    margin-bottom: 32px;
    color: #fff;
    font: $bold 46px/56px $brandon;
    text-transform: uppercase;
    
    &:last-of-type {
        margin-bottom: 0;
    }
}
