
.hero {
    padding-top: 140px;
    padding-bottom: 60px;
    background: $hero-mark;
    text-align: center;
}

.hero .title {
    margin-bottom: $base;

    [class*="line-"] {
        display: block;
    }
}

.hero .line-1 {
    margin-bottom: 18px;
    color: $dk-green;
    font-size: 36px;
    line-height: 1;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.hero .line-2 {
    color: #fff;
    font-size: 140px;
    line-height: 1;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}

.hero .line-3 {
    color: #fff;
    font: italic $book 108px/1 $rooney;
    letter-spacing: 0.07em;
    text-transform: none;
}

.hero .intro {
    max-width: 650px;
    margin: 0 auto 48px;
    color: $dk-green;
    font-size: 27px;
    line-height: 35px;
}
