
.team .section-title {
    margin-bottom: 24px;
}

.team .intro {
    max-width: 720px;
    margin: 0 auto 60px;
    font-size: 22px;
    line-height: 32px;
    text-align: center;
}

.the-bubs {
    max-width: 1040px;
    margin: 0 auto;
}

.bub {
    position: relative;
    float: left;
    width: 25%;

    .info {
        text-align: center;
    }

    .name {
        margin-bottom: 4px;
        color: $grey;
        font-size: 36px;
        line-height: 1em;
    }

    .role {
        color: #00b899;
        font: 700 16px/1em "brandon-grotesque", Helvetica, arial, sans-serif;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
}