/* Vendor Dependencies */
/* Global */
/* line 1, ../sass/global/_reset.scss */
* {
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

/* line 1, ../sass/global/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 1, ../sass/global/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 1, ../sass/global/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 1, ../sass/global/_reset.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 1, ../sass/global/_reset.scss */
button, input {
  line-height: normal;
}

/* line 1, ../sass/global/_reset.scss */
input {
  -webkit-appearance: none;
  border-radius: 0;
}

/* line 1, ../sass/global/_reset.scss */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

/* line 1, ../sass/global/_reset.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 1, ../sass/global/_reset.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 1, ../sass/global/_reset.scss */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/* line 1, ../sass/global/_reset.scss */
iframe {
  width: 100%;
}

/* line 1, ../sass/global/_reset.scss */
object {
  max-width: 100%;
}

/* line 1, ../sass/global/_reset.scss */
a {
  text-decoration: none;
}

/* line 1, ../sass/global/_reset.scss */
.cf:before, .cf:after {
  content: " ";
  display: table;
}

/* line 1, ../sass/global/_reset.scss */
.cf:after {
  clear: both;
}

/* line 1, ../sass/global/_reset.scss */
.cf {
  *zoom: 1;
}

/* line 13, ../sass/global/_typography.scss */
body {
  color: #3a4946;
  font: 400 1em/1.5em "rooney-web", Georgia, serif;
}

/* line 18, ../sass/global/_typography.scss */
h1, h2, h3 {
  font-family: "brandon-grotesque", Helvetica, arial, sans-serif;
  font-weight: 900;
}

/*
h1 {
    font-size: 76px;
    line-height: 1em;
    text-transform: uppercase;
}
*/
/* line 31, ../sass/global/_typography.scss */
h2 {
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}

/* line 37, ../sass/global/_typography.scss */
h3 {
  font: 400 40px/1em "rooney-web", Georgia, serif;
}

/* line 41, ../sass/global/_typography.scss */
.title-section {
  margin-bottom: 56px;
  text-align: center;
}

/*
.title {
    position: relative;
}

.title:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 50px;
    height: 3px;
    margin-left: -25px;
    background: #00b899;
}
*/
/* line 63, ../sass/global/_typography.scss */
p {
  font-size: 18px;
  line-height: 27px;
}

/* line 68, ../sass/global/_typography.scss */
strong {
  font-weight: 700;
}

/* line 72, ../sass/global/_typography.scss */
em {
  font-style: italic;
}

/* line 76, ../sass/global/_typography.scss */
.body p,
.body ul,
.body ol {
  margin-bottom: 22px;
}
/* line 80, ../sass/global/_typography.scss */
.body p:last-child,
.body ul:last-child,
.body ol:last-child {
  margin-bottom: 0;
}

/* line 85, ../sass/global/_typography.scss */
.body ul,
.body ol {
  margin-left: 1.5em;
}

/* line 90, ../sass/global/_typography.scss */
.body li {
  list-style: disc;
}

/* line 2, ../sass/global/_icons.scss */
[class*="icon-"] {
  display: inline-block;
  background: url('/assets/images/sprite.svg?1398987954') no-repeat 0 0;
  vertical-align: middle;
}

/* line 8, ../sass/global/_icons.scss */
.icon-functional,
.icon-handsome,
.icon-adaptable {
  width: 110px;
  height: 110px;
}

/* line 15, ../sass/global/_icons.scss */
.icon-handsome {
  background-position: 0 -124px;
}

/* line 19, ../sass/global/_icons.scss */
.icon-adaptable {
  background-position: 0 -246px;
}

/* line 23, ../sass/global/_icons.scss */
.icon-logo-mark {
  width: 60px;
  height: 70px;
  background-position: 0 -366px;
}

/* line 29, ../sass/global/_icons.scss */
.icon-chicago {
  width: 55px;
  height: 48px;
  background-position: 0 -444px;
}

/* line 35, ../sass/global/_icons.scss */
.icon-arrow {
  width: 25px;
  height: 25px;
  background-position: 0 -497px;
}

/* line 41, ../sass/global/_icons.scss */
.icon-mail {
  width: 35px;
  height: 28px;
  background-position: -36px -497px;
}

/* 36px*/
/* line 4, ../sass/global/_grid.scss */
.grid {
  *zoom: 1;
  margin: 0 -18px 24px -18px;
}
/* line 2, ../sass/global/_mixins.scss */
.grid:before, .grid:after {
  content: " ";
  display: block;
}
/* line 6, ../sass/global/_mixins.scss */
.grid:after {
  clear: both;
}
@media (max-width: 600px) {
  /* line 4, ../sass/global/_grid.scss */
  .grid {
    margin: 0 -3% 24px -3%;
  }
}

/* line 13, ../sass/global/_grid.scss */
[class*='col-'] {
  float: left;
  padding: 0 18px;
}
@media (max-width: 600px) {
  /* line 13, ../sass/global/_grid.scss */
  [class*='col-'] {
    padding: 0 3%;
  }
}

/* line 22, ../sass/global/_grid.scss */
.col-3-4 {
  width: 75%;
}

/* line 26, ../sass/global/_grid.scss */
.col-2-3 {
  width: 66.66%;
}

/* line 30, ../sass/global/_grid.scss */
.col-1-2 {
  width: 50%;
}

/* line 34, ../sass/global/_grid.scss */
.col-1-3 {
  width: 33.33%;
}
/* line 37, ../sass/global/_grid.scss */
.col-1-3:nth-child(3n+1) {
  clear: left;
}
@media (max-width: 880px) {
  /* line 37, ../sass/global/_grid.scss */
  .col-1-3:nth-child(3n+1) {
    clear: none;
  }
}
@media (max-width: 880px) {
  /* line 34, ../sass/global/_grid.scss */
  .col-1-3 {
    width: 50%;
    margin-bottom: 24px;
  }
  /* line 47, ../sass/global/_grid.scss */
  .col-1-3:nth-child(2n+1) {
    clear: left;
  }
}
@media (max-width: 600px) {
  /* line 34, ../sass/global/_grid.scss */
  .col-1-3 {
    float: none;
    width: 100%;
  }
  /* line 55, ../sass/global/_grid.scss */
  .col-1-3:last-child {
    margin-bottom: 0;
  }
}

/* line 62, ../sass/global/_grid.scss */
.col-1-4 {
  width: 25%;
}
@media (max-width: 880px) {
  /* line 62, ../sass/global/_grid.scss */
  .col-1-4 {
    width: 50%;
    margin-bottom: 24px;
  }
  /* line 68, ../sass/global/_grid.scss */
  .col-1-4:nth-child(2n+1) {
    clear: left;
  }
}

/* line 2, ../sass/global/_base.scss */
body {
  background: #f8f4e9;
}

/* line 6, ../sass/global/_base.scss */
.wrapper {
  *zoom: 1;
  width: 94%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 144px 0 48px;
}
/* line 2, ../sass/global/_mixins.scss */
.wrapper:before, .wrapper:after {
  content: " ";
  display: block;
}
/* line 6, ../sass/global/_mixins.scss */
.wrapper:after {
  clear: both;
}
@media (max-width: 600px) {
  /* line 6, ../sass/global/_base.scss */
  .wrapper {
    width: 92%;
    padding: 32px 0;
  }
}

/* line 2, ../sass/global/_buttons.scss */
a {
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  outline: none;
  color: #12e2c0;
  text-decoration: none;
}

/* line 9, ../sass/global/_buttons.scss */
a:hover {
  color: #010101;
}

/* line 13, ../sass/global/_buttons.scss */
.btn {
  display: inline-block;
  padding: 20px 50px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 3px 0 rgba(255, 255, 255, 0.6);
  color: #00b899;
  font: 900 20px/1em "brandon-grotesque", Helvetica, arial, sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase;
}

/* line 2, ../sass/global/_forms.scss */
.form-item {
  margin-bottom: 22px;
}

/* line 6, ../sass/global/_forms.scss */
label {
  margin-bottom: 0.25em;
  display: block;
  color: #fff;
  font: 500 14px/1em "brandon-grotesque", Helvetica, arial, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* line 15, ../sass/global/_forms.scss */
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 0.5em;
  background: #fff;
  border: none;
  font: 400 1em/1.5em "rooney-web", Georgia, serif;
}

/* line 25, ../sass/global/_forms.scss */
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  outline: none;
}

/* line 31, ../sass/global/_forms.scss */
.webform-component input[type="text"],
.webform-component input[type="email"] {
  max-width: 22.375em;
}

/* line 36, ../sass/global/_forms.scss */
textarea {
  height: 300px;
  padding-bottom: 60px;
  resize: none;
}

/** CUSTOM SELECT =======**/
/* line 45, ../sass/global/_forms.scss */
.select-wrap {
  position: relative;
  width: 100%;
  padding: 0.5em;
  background: #fff;
  cursor: pointer;
}

/* line 53, ../sass/global/_forms.scss */
.select-wrap:after {
  content: "";
  position: absolute;
  top: 15px;
  right: 12px;
  width: 0;
  height: 0;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-top: 10px solid #12e2c0;
}

/* line 65, ../sass/global/_forms.scss */
.select-wrap .out {
  z-index: -1;
  height: 23px;
  overflow: hidden;
  padding: 1px 0px 0px 5px;
  cursor: pointer;
}

/* line 73, ../sass/global/_forms.scss */
.select-wrap select {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 8px;
  opacity: 0;
  cursor: pointer;
}

/** Buttons ============**/
/* line 87, ../sass/global/_forms.scss */
button {
  width: 98%;
  padding: 0.7em 2em;
  border: none;
  color: #12e2c0;
  background: #3a4946;
  font: 700 20px/1em "brandon-grotesque", Helvetica, arial, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
}

/* Sections */
/* line 2, ../sass/sections/_header.scss */
.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  background: #12e2c0;
}
/* line 10, ../sass/sections/_header.scss */
.header .wrapper {
  padding: 32px 0;
  max-width: none;
}

/* line 16, ../sass/sections/_header.scss */
.scrolling .header {
  -moz-transition: top, 0.2s, ease-in;
  -o-transition: top, 0.2s, ease-in;
  -webkit-transition: top, 0.2s, ease-in;
  transition: top, 0.2s, ease-in;
  position: fixed;
  top: -63px;
}
/* line 21, ../sass/sections/_header.scss */
.scrolling .header.show {
  top: 0;
}
/* line 23, ../sass/sections/_header.scss */
.scrolling .header.show .logo {
  display: block;
}
/* line 28, ../sass/sections/_header.scss */
.scrolling .header .wrapper {
  padding: 12px 0;
}
/* line 32, ../sass/sections/_header.scss */
.scrolling .header .main-nav {
  padding-top: 18px;
}

/* line 38, ../sass/sections/_header.scss */
.logo {
  display: none;
  float: left;
  font-size: 35px;
  line-height: 1.75em;
}
/* line 44, ../sass/sections/_header.scss */
.logo .icon-logo-mark {
  float: left;
  margin-right: 14px;
}

/* line 50, ../sass/sections/_header.scss */
.main-nav {
  float: right;
}

/* line 54, ../sass/sections/_header.scss */
.main-nav li {
  float: left;
  margin-left: 40px;
  padding-top: 3px;
}
/* line 59, ../sass/sections/_header.scss */
.main-nav li:last-child {
  padding-top: 0;
}

/* line 64, ../sass/sections/_header.scss */
.main-nav a {
  color: #fff;
  font: 900 15px/1em "brandon-grotesque", Helvetica, arial, sans-serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/* line 71, ../sass/sections/_header.scss */
.main-nav .btn {
  padding: 8px 11px;
  border-radius: 2px;
  box-shadow: 0 2px 0 rgba(255, 255, 255, 0.6);
  color: #12e2c0;
}

/* line 2, ../sass/sections/_footer.scss */
.footer {
  background: #010101;
  text-align: center;
}
/* line 5, ../sass/sections/_footer.scss */
.footer .wrapper {
  padding: 48px 0;
}

/* line 10, ../sass/sections/_footer.scss */
.footer .icon-chicago {
  margin-bottom: 12px;
}

/* line 14, ../sass/sections/_footer.scss */
.made-in {
  margin-bottom: 24px;
  color: #797979;
  font: 900 14px/1 "brandon-grotesque", Helvetica, arial, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* line 22, ../sass/sections/_footer.scss */
.copyright {
  font: 600 14px/1 "brandon-grotesque", Helvetica, arial, sans-serif;
}

/* line 2, ../sass/sections/_hero.scss */
.hero {
  padding-top: 140px;
  padding-bottom: 60px;
  background: url('/assets/images/hero-mark.svg?1398897929') no-repeat center center #12e2c0;
  text-align: center;
}
/* line 8, ../sass/sections/_hero.scss */
.hero .wrapper {
  padding: 48px 0;
}

/* line 13, ../sass/sections/_hero.scss */
.hero .title {
  margin-bottom: 24px;
}
/* line 16, ../sass/sections/_hero.scss */
.hero .title [class*="line-"] {
  display: block;
}

/* line 21, ../sass/sections/_hero.scss */
.hero .line-1 {
  margin-bottom: 18px;
  color: #009980;
  font-size: 36px;
  line-height: 1;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

/* line 30, ../sass/sections/_hero.scss */
.hero .line-2 {
  color: #fff;
  font-size: 140px;
  line-height: 1;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

/* line 38, ../sass/sections/_hero.scss */
.hero .line-3 {
  color: #fff;
  font: italic 400 108px/1 "rooney-web", Georgia, serif;
  letter-spacing: 0.07em;
  text-transform: none;
}

/* line 45, ../sass/sections/_hero.scss */
.hero .intro {
  max-width: 650px;
  margin: 0 auto 48px;
  color: #009980;
  font-size: 27px;
  line-height: 35px;
}

/* line 2, ../sass/sections/_help.scss */
.help {
  background: url('/assets/images/bg-help.jpg?1398989688') no-repeat center center #3a4946;
}
/* line 4, ../sass/sections/_help.scss */
.help .wrapper {
  padding-bottom: 120px;
}

/* line 9, ../sass/sections/_help.scss */
.help .help-title {
  margin-bottom: 40px;
  color: #12e2c0;
}

/* line 14, ../sass/sections/_help.scss */
.help li {
  max-width: 700px;
  margin-bottom: 32px;
  color: #fff;
  font: 700 46px/56px "brandon-grotesque", Helvetica, arial, sans-serif;
  text-transform: uppercase;
}
/* line 21, ../sass/sections/_help.scss */
.help li:last-of-type {
  margin-bottom: 0;
}

/* line 2, ../sass/sections/_info.scss */
.info [class*="col-"] {
  text-align: center;
}

/* line 6, ../sass/sections/_info.scss */
.info [class*="icon-"] {
  margin: 0 auto 24px;
}

/* line 10, ../sass/sections/_info.scss */
.info .title {
  margin-bottom: 24px;
  color: #00b899;
}
/* line 13, ../sass/sections/_info.scss */
.info .title:after {
  bottom: -14px;
  background: #12e2c0;
}

/* line 19, ../sass/sections/_info.scss */
.info p {
  font-size: 18px;
  line-height: 27px;
}

/* line 2, ../sass/sections/_work.scss */
.screen {
  margin-bottom: 32px;
}

/* line 6, ../sass/sections/_work.scss */
.grid-projects p {
  margin-bottom: 12px;
}

/* line 10, ../sass/sections/_work.scss */
.title-project {
  margin-bottom: 12px;
}

/* line 2, ../sass/sections/_team.scss */
.team .section-title {
  margin-bottom: 24px;
}

/* line 6, ../sass/sections/_team.scss */
.team .intro {
  max-width: 720px;
  margin: 0 auto 60px;
  font-size: 22px;
  line-height: 32px;
  text-align: center;
}

/* line 14, ../sass/sections/_team.scss */
.bub {
  position: relative;
  text-align: center;
}
/* line 18, ../sass/sections/_team.scss */
.bub .head-shot {
  margin-bottom: 24px;
}
/* line 22, ../sass/sections/_team.scss */
.bub .name {
  margin-bottom: 4px;
  color: #3a4946;
  font-size: 36px;
  line-height: 1.1em;
}
/* line 29, ../sass/sections/_team.scss */
.bub .role {
  color: #00b899;
  font: 900 16px/1em "brandon-grotesque", Helvetica, arial, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* line 2, ../sass/sections/_contact.scss */
.contact {
  background: url('/assets/images/bg-contact.jpg?1388160427') no-repeat center top #12e2c0;
}

/* line 6, ../sass/sections/_contact.scss */
.contact .title {
  margin-bottom: 20px;
  padding-bottom: 28px;
  font-size: 28px;
}

/* line 12, ../sass/sections/_contact.scss */
.contact .title:after {
  width: 180px;
  height: 8px;
  background: #3a4946;
  left: 0;
  margin: 0;
}

/* line 20, ../sass/sections/_contact.scss */
.contact p {
  max-width: 600px;
  margin-bottom: 40px;
  color: #fff;
  font-size: 22px;
  line-height: 30px;
}

/* line 28, ../sass/sections/_contact.scss */
.contact .intro {
  max-width: inherit;
  margin-bottom: 12px;
  font-size: 40px;
  line-height: 1;
}

/* line 35, ../sass/sections/_contact.scss */
.contact .talk {
  font-weight: 700;
}

/* line 39, ../sass/sections/_contact.scss */
.contact-form {
  max-width: 900px;
}

/* line 43, ../sass/sections/_contact.scss */
.form-left {
  float: left;
  width: 30%;
  margin-right: 4%;
}

/* line 49, ../sass/sections/_contact.scss */
.form-right {
  position: relative;
  float: left;
  width: 66%;
}

/* line 55, ../sass/sections/_contact.scss */
.contact-form .message {
  margin-bottom: 0;
}

/* line 59, ../sass/sections/_contact.scss */
.contact-form button {
  position: absolute;
  bottom: 6px;
  left: 1%;
  z-index: 20;
  width: 98%;
}
